<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Melissa Balino | @ViewData["Title"] </title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/assets/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="~/assets/img/favicon/site.webmanifest">

    <!-- Google Fonts -->
    <link href="~/https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Personal
    * Updated: Jun 18 2023 with Bootstrap v5.3.0
    * Template URL: https://bootstrapmade.com/personal-free-resume-bootstrap-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->

  @*  <div class="m-5">
        @if (ViewBag.Success != null)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                @ViewBag.Success
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                @ViewBag.ErrorMessage
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
    </div>*@

    <header id="header">
        <div class="container">

            <h1><a href="@Url.Action("Index","Home")">Melissa Balino</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="mr-auto"><img src="assets/img/cover.png" alt="logo" class="img-fluid"></a> -->
            <h2>I'm a passionate <span>Full Stack Web Developer</span>.</h2>

            @if (ViewData["Title"].ToString() != "Contact" && ViewData["Title"].ToString() != "Email Confirmation")
            {
                <nav id="navbar" class="navbar">
                    <ul>
                        <li><a class="nav-link active" href="#header">Home</a></li>
                        <li><a class="nav-link" href="#about">About</a></li>
                        <li><a class="nav-link" href="#resume">Resume</a></li>
                        <li><a class="nav-link" href="#services">Centriq</a></li>
                        <li><a class="nav-link" href="#portfolio">Portfolio</a></li>
                        <li><a class="nav-link" href="@Url.Action("Contact","Home")">Contact</a></li>
                    </ul>
                    <i class="bi bi-list mobile-nav-toggle"></i>
                </nav>

                <!-- .navbar -->
            }
            else
            {
                
            <nav id="navbar" class="navbar">
                <ul>
                    <li>
                        @Html.ActionLink("Home", "Index", "Home", null, null, "#header", null, new{ @class = "nav-link" })
                    </li>
                        <li>
                            @Html.ActionLink("About", "Index", "Home", null, null, "#about", null, new{ @class = "nav-link" })
                        </li>
                        <li>
                            @Html.ActionLink("Resume", "Index", "Home", null, null, "#resume", null, new{ @class = "nav-link" })
                        </li>
                        <li>
                            @Html.ActionLink("Centriq", "Index", "Home", null, null, "#centriq", null, new{ @class = "nav-link" })
                        </li>
                        <li>
                            @Html.ActionLink("Portfolio", "Index", "Home", null, null, "#portfolio", null, new{ @class = "nav-link" })
                        </li>
                        <li><a class="active nav-link" href="@Url.Action("Contact","Home")">Contact</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->
            }

            <div class="social-links">
                <a href="https://www.linkedin.com/in/melissabalino/" target="_blank" rel="noreferrer" class="linkedin"><i class="bi bi-linkedin"></i></a>
                <a href="https://github.com/melissabalino" target="_blank" rel="noreferrer" class="github"><i class="bi bi-github"></i></a>
            </div>

        </div>
    </header><!-- End Header -->
   
    @RenderBody()

    <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/personal-free-resume-bootstrap-template/ -->
        Designed by Melissa Balino using <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>

    <!-- Vendor JS Files -->
    <script src="~/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/waypoints/noframework.waypoints.js"></script>
    <!-- <script src="assets/vendor/php-email-form/validate.js"></script> -->
    <!-- Template Main JS File -->
    <script src="~/assets/js/main.js"></script>

    @RenderSection("scripts", required: false)

</body>

</html>